@inject MessageHubServiceSX32 MessageHubServiceSX32
@page "/InterfaceDefinitionSX32"
<h3>SX32</h3>

<div>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            From Biz
        </button>
        <div class="dropdown-menu">
            @foreach (var x in MessageHubServiceSX32.MasterData.Interfaces.Where(x => x.FromBiz == true).ToList())
            {
                <a class="dropdown-item" @onclick="@(() => SetInterfaceCondition(x))">@x.Description</a>
            }
        </div>
    </div>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop2" type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            To Biz
        </button>
        <div class="dropdown-menu">
            @foreach (var x in MessageHubServiceSX32.MasterData.Interfaces.Where(x => x.FromBiz == false).ToList())
            {
                <a class="dropdown-item" @onclick="@(() => SetInterfaceCondition(x))">@x.Description</a>
            }
        </div>
    </div>
    <button @onclick="@(() => CurrentInterface = null)">All Interfaces</button>
    <text>Start Date</text>
    <input @bind="StartDate" type="date" />
    <text>End Date</text>
    <input @bind="EndDate" type="date" />
    <input @bind="SearchConditions" placeholder="Containing Text" />
    <button @onclick="@(() => GetMessages())">RELOAD</button>
</div>

<br />
<br />
@if (messages != null)
{
    <MessageListSX32 Messages="@messages" 
                 Title="@SelectedInterface"
                 ShowErrorColumn="true"
                 OnRefresh="@Refresh" />
}

@code {

    private string SelectedInterface = "";
    private string SelectedMessageName = "";
    List<InterfaceMessageModel> messages = null;

    DateTime StartDate = DateTime.Now.Date;
    DateTime EndDate = DateTime.Now.Date;
    Interface? CurrentInterface = null;
    string SearchConditions;

    protected override void OnInitialized()
    {
    }

    void GetMessages()
    {

        if (CurrentInterface == null)
        {
            messages = MessageHubServiceSX32.GetLatestBoth(StartDate, EndDate);
            if (SearchConditions.HasValue())
            {
                messages = messages.Where(x => x.Message.Contains(SearchConditions)).ToList();
            }
            messages = messages.OrderByDescending(m => m.QueuedTime).ToList();
        }
        else
        {
            if (CurrentInterface.FromBiz != null && CurrentInterface.FromBiz == true)
            {
                messages = MessageHubServiceSX32.GetLatestFromBiz(CurrentInterface.MessageName, StartDate, EndDate, SearchConditions).GetInterfaceMessageModel();
            }
            else
            {
                messages = MessageHubServiceSX32.GetLatestToBiz(CurrentInterface.MessageName, StartDate, EndDate, SearchConditions).GetInterfaceMessageModel();
            }
        }

    }

    void SetInterfaceCondition(Interface SelectedInterface)
    {
        CurrentInterface = SelectedInterface;
    }

    void Refresh(bool value)
    {
        string x = "";
    }
}
  